@import "../../../../../node_modules/bootstrap/dist/css/bootstrap.css";
html,
body,
header,
.view {
  height: 100%;
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 100vh;
  }
}

.middleContent{
  padding-top: 100px;
}

.top-nav-collapse {
  background-color: #78909c !important;
}

.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}

@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
    background: #78909c !important;
  }
}

h1 {
  letter-spacing: 8px;
}

h5 {
  letter-spacing: 3px;
}


.hr-light {
  border-top: 3px solid #fff;
  width: 80px;
}
.hr-light1 {
  border-top: 3px solid black;
  width: 80px;
  text-align: center;
}

.WhatWeDo {
  background-size: 100% 100%;
  background-image: url('../../../../assets/images/Home/home5.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  padding-top:100px;
  padding-bottom:100px;
}


@keyframes fadeInDown {
  from {
      opacity:0;
      -webkit-transform: translatey(-10px);
      -moz-transform: translatey(-10px);
      -o-transform: translatey(-10px);
      transform: translatey(-10px);
  }
  to {
      opacity:1;
      -webkit-transform: translatey(0);
      -moz-transform: translatey(0);
      -o-transform: translatey(0);
      transform: translatey(0);
  }
}


.w3-animate-top{
  position:relative;
  animation:animatetop 3s
}
@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}

.upgrade{
  color: black;
}


.contentInCenter {
 
  padding: 120px 20px 20px 20px; 
}

.aboutUs p
{

  width: 80%;
    /* align-content: center; */
    /* text-align: center; */
    display: inline-block;
    font-size: 110%;
    word-spacing: 2px;
    padding: 30px 0 0 0;
}


.aboutUs-Section{
  background-color: #f4f4f4;
}

/* ---------------
Customers testimonial Section

*/

.Customers-Testimoni{
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../../../../assets/images/Home/CustomerFeedback.jpg);
  background-size: cover;
  color: #fff;
  background-attachment: fixed;
  height: 100vh;
}

.customer-testi-Header{
  justify-content: center;
  padding: 10% 0 10% 0;
}

.customer-testi-Header:h2{
  text-align: center;
}

.customer-name{
  display: block;
}

blockquote{
  padding: 2%;
  font-style: italic;
  line-height: 145%;
  font-size: large;
}

.cite{
display: flex;
margin-top: 2%;

}
.cite i{
  float: left;
font-size: 50px;
}

.customer-name{
  vertical-align: middle;
  margin: 12px;
  font-weight: bold;
  font-size: 140%;
}



@media only screen and (max-width: 700px){
  .contentInCenter {
    padding: 20px 20px 20px 20px; 
  }

}



