<body data-spy="scroll" data-target=".navbar" data-offset="50">
<app-header></app-header>


<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="2000">

    <ul class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
 
      </ul>
<div  class="carousel-inner">
    <div  class="carousel-item active">
        <img src="../../../../assets/images/Home/horizontal.jpg" width="100%" height="300" >

    </div>
    <div  class="carousel-item">
        <img src="../../../../assets/images/Home/almayza.jpg" width="100%" height="300" >

    </div>
    <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#myCarousel" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>

</div>




</div>

<div id="aboutUs" class="container-fluid text-center" style="padding-top:100px;padding-bottom:100px">
  <h1>WHO WE ARE</h1>
  <p>
    {{aboutUsHome}}</p>
  
</div>
<!-- <div id="WhatWeDo" class="container-fluid " style="padding-top:70px;padding-bottom:70px">
  <h1 class="display-4 text-center">ARE YOU PLANNING TO UPGRADE YOUR HOME,OFFICE</h1>
  <p>{{moreAbout}}</p>
 
</div> -->

<div id="WhatWeDo" class="view" class="WhatWeDo"  >
  <!-- Mask & flexbox options-->
  <div class="mask rgba-black-light align-items-center">
    <!-- Content -->
    <div class="container">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-md-12 mb-4 text-white text-center ">
          <h1 class="h1-reponsive upgrade text-uppercase mb-0 pt-md-5 pt-5 wow"  data-wow-delay="0.3s"><strong>ARE YOU PLANNING TO UPGRADE YOUR HOME,OFFICE</strong></h1>
          <hr class="hr-light my-4 wow fadeInDown" data-wow-delay="0.4s">
          <h5 class="text-uppercase mb-4 text-white wow fadeInDown" data-wow-delay="0.4s">Distinguish Us from Others</h5>
          <div class=""><a (click)="openDialog()" class="btn-outline-white text-white wow fadeInDown" mat-raised-button routerLink="dialog" style="float: left;cursor: pointer;" data-wow-delay="0.4s">
            <strong>Almazaya Customers</strong></a>
          <a class="btn btn-outline-white wow fadeInDown text-right" style="float: right; margin-right: 10%;cursor: pointer;" data-wow-delay="0.4s"><strong>Projects</strong></a></div>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Content -->
  </div>
  </div>


  <!-- <app-cust-feedback id="custom-modal-1">
    <h1>A Custom Modal!</h1>
    <p>Home page text: <input type="text" [(ngModel)]="bodyText" /></p>
    <button (click)="closeModal('custom-modal-1');">Close</button>
</app-cust-feedback> -->
  


<app-footer></app-footer>
</body>
