body { 
	background-color: rgb(30, 15, 33);
	margin: 0;
    padding: 0;
    border: 0px;
    border-width: 0px;
}
#client-testimonial-carousel {min-height: 200px;}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
  }




.slick-center .slide-h3 {
  color: #FFF;
}



.slide-h3 {
  margin: 10% 0 10% 0;
  padding: 40% 20%;
  background: red;
}

.slick-track div {
  margin-right: 500px;
}

.slick-slider div{
  
    margin-right: 15px;
    margin-left: 15px;
    background: grey;
    
    text-align: center;
    
    } 

.slick-slide {
  opacity: .5;
  //width:300px;
  color:black;
  
  
 
}

.slick-current {
  display: block;
  color:white;
  max-height: 10% !important;
  opacity: 1;
  

}
